[submodule "external/flip"]
	path = external/flip
	url = git@github.com:NVlabs/flip.git

[submodule "external/nodeeditor"]
	path = external/nodeeditor
	url = git@github.com:paceholder/nodeeditor.git

[submodule "external/qt-value-slider"]
    path = external/qt-value-slider
    url = git@github.com:BugelNiels/qt-value-slider.git

[submodule "external/spline"]
    path = external/spline
    url = git@github.com:ttk592/spline.git

[submodule "external/doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
