[Desktop Entry]
Type=Application
Name=NITRO
Comment=Node Editor for building Image Processing Routines
Exec=nitro
Icon=logo
Categories=Graphics;
Version=1.3.0
